// Code generated by Fern. DO NOT EDIT.

package objects

import (
	context "context"
	Lattice "github.com/anduril/lattice-sdk-go"
	core "github.com/anduril/lattice-sdk-go/core"
	internal "github.com/anduril/lattice-sdk-go/internal"
	option "github.com/anduril/lattice-sdk-go/option"
	io "io"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Lists objects in your environment. You can define a prefix to list a subset of your objects. If you do not set a prefix, Lattice returns all available objects. By default this endpoint will list local objects only.
func (c *Client) ListObjects(
	ctx context.Context,
	request *Lattice.ListObjectsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *Lattice.PathMetadata, *Lattice.ListResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://example.developer.anduril.com",
	)
	endpointURL := baseURL + "/api/v1/objects"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("pageToken", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(Lattice.ErrorCodes),
		}
	}
	readPageResponse := func(response *Lattice.ListResponse) *core.PageResponse[*string, *Lattice.PathMetadata, *Lattice.ListResponse] {
		var zeroValue *string
		next := response.GetNextPageToken()
		results := response.GetPathMetadatas()
		return &core.PageResponse[*string, *Lattice.PathMetadata, *Lattice.ListResponse]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.PageToken)
}

// Fetches an object from your environment using the objectPath path parameter.
func (c *Client) GetObject(
	ctx context.Context,
	request *Lattice.GetObjectRequest,
	opts ...option.RequestOption,
) (io.Reader, error) {
	response, err := c.WithRawResponse.GetObject(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Uploads an object. The object must be 1 GiB or smaller.
func (c *Client) UploadObject(
	ctx context.Context,
	// Path of the Object that is to be uploaded.
	objectPath string,
	request io.Reader,
	opts ...option.RequestOption,
) (*Lattice.PathMetadata, error) {
	response, err := c.WithRawResponse.UploadObject(
		ctx,
		objectPath,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes an object from your environment given the objectPath path parameter.
func (c *Client) DeleteObject(
	ctx context.Context,
	request *Lattice.DeleteObjectRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.DeleteObject(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Returns metadata for a specified object path. Use this to fetch metadata such as object size (size_bytes), its expiry time (expiry_time), or its latest update timestamp (last_updated_at).
func (c *Client) GetObjectMetadata(
	ctx context.Context,
	request *Lattice.GetObjectMetadataRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.GetObjectMetadata(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
